@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
    margin: 0%;
}

body {
    height: 100vh;
}

/*estilos de navbar*/
header {
    margin: 0%;
    height: 10%;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 50px;
    width: 100%;
}
nav > ul > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}
li {
    font-family: "Roboto", sans-serif;
    list-style: none;
}

li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.login {
    border: solid 1px;
    padding: 10px 30px;
    border-radius: 5px;
}

.login:hover {
    background-color: #04ab84;
    color: white;
    border: solid 1px;
    transform: scale(1.2);
}

/* Estilos main*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
    margin: 0%;
    background-color: whitesmoke;
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* estilos main index*/
.Flor {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:space-between;
    width: 80%;
    height: 80%;
    margin: 2.rem;
    
}
.foto{
    width: 50%;
    height: 50%;
    
}
.Ftexto {
   
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.but{
    background-color:rgb(97, 97, 245);
    border-radius: 10%;
    padding: 10px;
    color: white;
    text-decoration: none;
    width: 30%;
    height: 10%;
    text-align: center;
    margin: 1px;

}



/* Estilo formulario login*/
.cajaDeIngreso {
    background-color: white;
    box-shadow: 0 0 10px #9ecaed;
    color: white;
    border-radius: 15px;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cajaDeRegistro {
    background-color: white;
    box-shadow: 0 0 10px #9ecaed;
    color: black;
    border-radius: 15px;
    width: 33%;
    height: 85%;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajaDeRegistro h4 {
    font-size: 22px;
    margin-bottom: 15px;
}

.cajaDeRegistro p {
    height: 40px;
    text-align: center;

}

.cajaDeRegistro a {
    color: black;
}

.cajaDeRegistro a:hover {
    color: indigo;
}

.registroForm .butReg {
    background-color: #04ab84;
    width: 100%;
    padding:6px;
    border-radius: 5px;
    font-size: 16px;
    margin: 12px;
    color: white;
}

.registroForm .butReg:hover {
    color: #03664f;
    background-color: #c1def7;
    font-weight: bold;
}

.controls {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.formulario {
    width: 80%;
    height: 60%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

label {
    width: 40%;
}

.input {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input {
    width: 60%;
}

form {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2% 0%;
}

.but1 {
    background-color: #04ab84;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    border: black;
}

.but2 {
    text-decoration: none;
}

/* estilos footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Roboto", sans-serif;
    color: rgb(248, 248, 248);
    background-color: #04ab84;
    width: 100%;
    height: 15%;
    margin: 0%;
    text-align: center;
}
