@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
    margin: 0%;
}

body {
    height: 100vh;
}

/*estilos de navbar*/
header {
    margin: 0%;
    height: 10%;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 50px;
    width: 100%;
}
nav > ul > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}
li {
    font-family: "Roboto", sans-serif;
    list-style: none;
}

li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.login {
    border: solid 1px;
    padding: 10px 30px;
    border-radius: 10%;
}

.login:hover {
    background-color: #04ab84;
    color: white;
    border: solid 1px;
    transform: scale(1.2);
}

/* Estilos main*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
    margin: 0%;
    background-color: whitesmoke;
    margin: 0%;
}

/* Estilo formulario login*/
.cajaDeIngreso {
    background-color: white;
    box-shadow: 0 0 10px #9ecaed;
    color: white;
    border-radius: 15px;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 80%;
    height: 60%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
label {
    width: 40%;
}
.input {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input {
    width: 60%;
}
form {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2% 0%;
}
.but1 {
    background-color: #04ab84;
    padding: 10px 15px;
    border-radius: 10%;
    color: white;
    border: black;
}

.but2 {
    text-decoration: none;
}

/* estilos footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Roboto", sans-serif;
    color: rgb(121, 101, 101);
    background-color: #04ab84;
    width: 100%;
    height: 15%;
    margin: 0%;
}
