<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EmprenRed es una red social para emprendedores y proveedores">
    <meta name="keywords" content="Red Social Emprendedores, Catálogo Productos, Emprendimientos , Emprendedores, Proveedores,Venta por Mayor,Empreder,Pymes"/>
    <link rel="icon" type="image/vnd.microsoft.icon" href="../static/iconos/favicon.ico">
    <title>Contacto</title>
</head>
<body>
    
</body>
</html>