<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmprenRed Argentina</title>
    <link rel="stylesheet" href="../static/css/style.css" />

</head>


<body>
        
  <header>
    <nav>
        
            <ul>
                <li>
                   <a href="index.html"> 
                       <img
                        src="../static/images/logo_small.png"
                        alt="Logo EmprenRed"/>
                    </a> 
                </li>
                <div>
                    <li><a href="index.html">Inicio</a></li>
                    <li>
                        <a href="contact.asp">Buscar Emprendedores</a>
                    </li>
                </div>
                <li class="login"><a href="login.html">Login</a></li>
            </ul>
        
    </nav>
      </header>

<main>
    <div class="Flor">
        <div class="crearPublicacion">
            <form action="summit">
                <input type="text"
                    placeholder="descripcion">
                <input type="file"
                    placeholder="suba la imagen">
                <button>Publicar</button>
            </form>
        </div>

        <!--Son las publicaciones de los contactos que tiene el perfil-->

        <div class="publicaciones">
            <p></p>
            <!--nombre del emprendimiento-->
            <p></p>
            <!--fecha de publicacion-->
            <p></p>
            <!--descripcion-->
            <img src=""
                alt="">
            <!--foto publicacion-->

            <div class="comentario">
                <p></p>
                <!--nombre del que creo comentario-->
                <p></p>
                <!--fecha de comentario-->
                <p></p>
                <!--descripcion de comentario-->
            </div>

            <div>
                <form action="summit"
                    class="crearComentario">
                    <input type="text"
                        placeholder="comentario">
                    <button>Comentar</button>
                </form>
            </div>

        </div>
        </div>
    </div>
</main>

<footer> <small><em>EmprenRed - 2021</em></small>
  <h4>Copyright - Todos Los derechos Reservados 2021</h4> 
  <p>Seguinos en nuestras <b>redes</b> </p>
  <div>
    <a href="https://instagram.com/emprenRed/"><img class="icono" src="../static/images/topinsta.png" width="30"></a>
    <a href="https://facebook.com/emprenRed/"><img class="icono" src="../static/images/topface.png" width="30"></a>
  </div>
</footer>
</body>

</html>
