<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmprenRed Argentina</title>
    <link rel="stylesheet" href="../static/css/style.css" />

</head>


<body>
        
  <header>
    <nav>
        
            <ul>
                <li>
                    <img
                        src="../static/images/logo_small.png"
                        alt="Logo EmprenRed"
                    />
                </li>
                <div>
                    <li><a href="default.asp">Inicio</a></li>
                    <li>
                        <a href="contact.asp">Acerca de Nosotros</a>
                    </li>
                </div>
                <li class="login"><a href="login.html">Login</a></li>
            </ul>
        
    </nav>
      </header>

<main>
    
    <h1><strong>EmprenRED</strong></h1>

    <img src="../static/images/imagen1.jpg"
        alt="HTML">"

    <Section>
        <p><strong>Somos el puente entre emprendedores y clientes.</strong><br> Brindamos información de catálogos, recomendaciones, estados y actividad actualizada. <em>No dudes en visitarnos!</em></p>
        <a href="">Registrarse aquí</a>

    </Section>
</main>

<footer> <small><em>EmprenRed - 2021</em></small>
  <h4>Copyright - Todos Los derechos Reservados 2021</h4>
  <p>Seguinos en nuestras <b>redes</b> </p>
  <a href="https://instagram.com/emprenRed/"></a>
  <a href="https://facebook.com/emprenRed/"></a>
</footer>
</body>

</html>
