<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contactos</title>
</head>
<body>
    
  <header>
    <nav>
     
    <ul>
        <li>
           <a href="index.html"> 
               <img
                src="../static/images/logo_small.png"
                alt="Logo EmprenRed"/>
            </a> 
        </li>
        <li><a href="index.html">Inicio</a></li>
        <div>
            <li >
                <a  href="#"  role="button" >
                  <!-- nombre de usuario-->
                </a>
              
<ul >
                  <li><a  href="perfil.html">Perfil</a></li>
                  <li><a class="dropdown-item" href="#">Editar Perfil </a>
                </li>
                <li><a href="catalogo.html">Cátalogo</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" role="button">Logout</a>
                </li>
                
                </ul>
            </li>
            
           
            
        </div>
        <div>
            <li><a href="nombredelaempresa">Nombre de la empresa</a></li>
            
        </div>
    
    </li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#" role="button">Ver perfil</a>

  </li>
 </li>
 <li><hr class="dropdown-divider"></li>
 <li><a class="dropdown-item" href="#" role="button">Dejar de seguir</a>
 </li>
    </ul>

</nav>

</body>
</html>