<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<link rel="stylesheet" href="../static/css/style.css">
    <title>Ingreso</title>
  </head>
  <body>
<nav>
  <div class="navbar">
  <img src="../static/images/logo_small.png" alt="Logo EmprenRed">
    <ul>
  <li><a href="default.asp">Inicio</a></li>
  <li><a href="contact.asp">Acerca de Nosotros</a></li>
  <li><a href="about.asp">Login</a></li>
</ul>
  </div>
</nav>
    <main>
      <div class="logo">
        <img src="../static/images/logo_small.png" alt="Logo EmprenRed">
        <p></p>
      </div>
    <div class="formulario">
      <h3>Ingreso</h3>
<form class="" action="" method="post">
 <label> <b> Usuario </b> </label>
 <input type="text" placeholder="Ingrese su Usuario"> <br>
 <label for=""><b>Contraseña</b></label>
 <input type="password" name="" value="" placeholder="Ingrese su contraseña">
</form>
<div class="botones">
  <button type="submit"> Ingresar </button>
  <a href="#">Registrar</a> <br>
  <a href="#">Olvidé mi contraseña</a>

</div>
    </div>
  </main>
