<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/style.css" />
        <title>Ingreso</title>
    </head>

    <body>
        <header>
            <nav>
                <div class="navbar">
                    <ul>
                        <li>
                            <img
                                src="../static/images/logo_small.png"
                                alt="Logo EmprenRed"
                            />
                        </li>
                        <div>
                            <li><a href="default.asp">Inicio</a></li>
                            <li>
                                <a href="contact.asp">Acerca de Nosotros</a>
                            </li>
                        </div>
                        <li class="login"><a href="about.asp">Login</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
          <div class="cajaDeIngreso">
            <div class="logo">
                <img
                    src="../static/images/logo_small.png"
                    alt="Logo EmprenRed"
                />
                <p></p>
            </div>
            <div class="formulario">
                <h3>Ingreso</h3>
                <form class="" action="" method="post">
                    <label> <b> Usuario </b> </label>
                    <input type="text" placeholder="Ingrese su Usuario" />
                    <br />
                    <label for=""><b>Contraseña</b></label>
                    <input
                        type="password"
                        name=""
                        value=""
                        placeholder="Ingrese su contraseña"
                    />
                </form>
                <div class="botones">
                    <button type="submit">Ingresar</button>
                    <a href="#">Registrar</a> <br />
                    <a href="#">Olvidé mi contraseña</a>
                </div>
            </div>
          </div>
        </main>

        <footer>
            <p>EmprenRed - 2021</p>
        </footer>
    </body>
</html>
