<!DOCTYPE html>
<html lang="en"
      dir="ltr">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet"
          href="../static/css/style.css" />
    <title>Ingreso</title>
</head>

<body>
    <header>
        <nav>

            <ul>
                <li>
                    <img src="../static/images/logo_small.png"
                         alt="Logo EmprenRed" />
                </li>
                <div>
                    <li><a href="">Inicio</a></li>
                    <li>
                        <a href="">Acerca de Nosotros</a>
                    </li>
                </div>
                <li class="login"><a href="index.html">Inicio</a></li>
            </ul>

        </nav>
    </header>

    <main>
        <div class="cajaDeIngreso">
            <div class="logo">
                <img src="../static/images/logo_small.png"
                     alt="Logo EmprenRed" />

            </div>
            <div class="formulario">

                <form class=""
                      action=""
                      method="post">
                    <div class="input">
                        <label> <b> Usuario </b> </label>
                        <input type="text"
                               placeholder="Ingrese su Usuario" />
                    </div>
                    <br />
                    <div class="input">
                        <label for=""><b>Contraseña</b></label>
                        <input type="password"
                               name=""
                               value=""
                               placeholder="Ingrese su contraseña" />
                    </div>
                    <div class="botones">
                        <button class="but1"
                                type="submit">Ingresar</button>
                        <a class="but2"
                           href="#">Registrar</a>
                    </div>

                    <a href="#">Olvidé mi contraseña</a>

                </form>

            </div>
        </div>
    </main>

    <footer>
        <p><small><em>EmprenRed - 2021</em></small></p>
        <p>Copyright - Todos Los derechos Reservados 2021</p>
        <p>Seguinos en nuestras <b>redes</b> </p>
        <span><a href="https://instagram.com/emprenRed/"><img src=""
            alt=""></a></span>
        <span> <a href="https://facebook.com/emprenRed/"><img src=""
            alt=""></a></span>
       
        
    </footer>
</body>

</html>