<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
    <header>
        <nav>
          <div class="navbar">
      
            <ul>
              <li><img src="../static/images/logo_small.png"
                     alt="Logo EmprenRed"></li>
              <div>
                <li><a href="default.asp">Inicio</a></li>
                <li><a href="contact.asp">Acerca de Nosotros</a></li>
              </div>
              <li class="login"><a href="about.asp">Login</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <main>
    <form action="Mandá tu consulta">
        <legend>Datos personales</legend>
      <label for="Nombre">Nombre</label>
      <input type="text"; name="Nombre">
      <label for="Apellido">Apellido</label>
      <input type="text"; name="Apellido">
      <label for="Direccion">Dirección</label>
      <input type="text"; name="Direccion">
      <label for="Telefono">Telefono</label>
      <input type="number"; name="Telefono">
      <label for="contraseña">Contraseña</label>
      <input type="password" name="Contraseña">
      
      <br>
      
     <button type="submit">Registrarse</button>
      
      </form>
    </main>
      <footer> <small><em>EmprenRed - 2021</em></small>
        <h4>Copyright - Todos Los derechos Reservados 2021</h4>
        <p>Seguinos en nuestras <b>redes</b> </p>
        <a href="https://instagram.com/emprenRed/"></a>
        <a href="https://facebook.com/emprenRed/"></a>
      </footer>


</body>
</html>